section.blog {
    min-height: calc(100vh - 192px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 96px 0;

    .content {
        width: 768px;
        max-width: calc(100% - 32px);

        & > h1 {
            margin-bottom: 32px;
        }
    
        & > h2 {
            margin: 0;
            font-size: 32px;
            color: var(--black);
            letter-spacing: 0;
            text-transform: initial;
        }
    }

    article {
        width: 100%;

        h1 {
            margin-bottom: 12px;

            & + ol {
                padding-left: 0;
                
                li {
                margin-bottom: 48px;
                color: var(--dark-grey);
                font-size: 14px;
                text-align: right;
                list-style: none;
                }
            }
        }
        
        h2 {
            margin: 48px 0 12px;
            font-size: 32px;
            color: var(--black);
            letter-spacing: 0;
            text-transform: initial;
        }
        
        h4, h5, h6 {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: 0;
            text-align: left;
        }

        h3, h4, h5, h6 {
            margin: -12px 0;
            padding: 24px 0 12px;
        }

        p {
            width: 100%;
            margin: 16px 0;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.6;
            text-align: left;
            color: var(--dark-grey);

            em {
                margin-top: -16px;
                text-align: center;
            }
        }
        
        small,
        em {
            display: block;
            padding-bottom: 12px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
            color: var(--dark-grey);
        }

        li {
            margin: 8px 0;
            color: var(--dark-grey);
            font-size: 20px;
            line-height: 1.6;
        }
        
        ol {
            margin: 8px 0;
            padding-left: 16px;
            list-style-type: decimal;
        }
        
        ul {
            margin: 8px 0;
            padding-left: 16px;
            list-style-type: disc;
        }
        
        strong {
            font-weight: 500;
        }
        
        img {
            max-width: 100%;
            display: block;
            margin: 32px auto;
        }
        
        a {
            font-size: inherit;
            font-weight: 500;
            text-decoration: none;
            color: var(--black);
            transition: opacity .1s ease;
        
            &:hover,
            &:focus {
                opacity: .8;
            }
        
            img {
                margin: 0;
                width: auto;
                cursor: pointer;
            }
        }
        
        blockquote {
            max-width: 100%;
            padding-left: 12px;
            border-left: 2px solid var(--dark-grey);
        }

        pre {
            width: 100%;
            margin: 32px 0;
            padding: 12px;
            background: var(--light-grey);
            overflow-x: auto;
        
            code {
                padding: 0 !important;
                background: none;
            }
        }
        
        code {
            padding: 6px 8px;
            font-family: monospace;
            font-size: 16px;
            line-height: 1.6;
            color: var(--black);
            background: var(--light-grey);
        }
        
        sub {
            vertical-align: sub;
            font-size: small;
        }
        
        sup {
            vertical-align: super;
            font-size: small;
        }
        
        abbr {
            border-bottom: 1px dotted;
            cursor: help;
        }
        
        kbd {
            padding: 2px 3px;
            font-size: small;
            font-weight: 500;
            background: var(--light-grey);
        }
        
        mark {
            padding: 0 4px;
            background: var(--black);
        }
        
        hr {
            height: 1px;
            margin: 24px 0;
            background: var(--dark-grey);
            border: none;
        }
    }

    @media only screen and (max-width: 1024px) {
        padding: 64px 0;

        h1,
        p {
            margin-bottom: 32px;
        }

        article {
            h1 {
                font-size: 32px;
            }
        
            h2 {
                font-size: 24px;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        min-height: calc(100vh - 128px);
        padding: 48px 0;

        & > img {
            margin: 16px 0;
        }

        article {
            p,
            li {
                font-size: 18px;
            }
        }
    }

    @media only screen and (max-width: 512px) {       
        .content {
            & > h1 {
                margin-bottom: 0;
            }
            
            & > h2 {
                font-size: 24px;
            }
    
            article {
                p,
                li {
                    font-size: 16px;
                }

                small,
                em,
                code {
                    font-size: 14px;
                }
            }
        }
        
    }
}
