@import "reset";
@import "fonts";

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    scroll-behavior: smooth;

    --black: #000;
    --dark-grey: #707070;
    --light-grey: #eaeaea;
    --white: #fff;
    --blue: #b3cde6;
}

body {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: calc(-100vw + 100%); /* Fix for scroll-bar jump */
}

h1,
h2,
h3,
h4,
h5,
p {
	margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-family: "Inter Display", "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--dark-grey);
}

h3,
.h3 {
    font-family: "Inter Display", "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;

    .large {
        font-size: 3rem
    }
}

h4,
.h4 {
    font-family: "Inter Display", "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;

    a {
        color: var(--blue);
        transition: opacity .1s ease;
        cursor: pointer;

        &:hover,
        &:focus {
            opacity: .8;
        }
    }

    &.small {
        font-size: small;
    }
}

a {
    color: var(--black);
    transition: opacity .1s ease;

    &:hover,
    &:focus {
        opacity: .8;
    }
}

small {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    background: var(--black);
    white-space: nowrap;
    cursor: pointer;
    transition: opacity .1s ease;

    &:hover,
    &:focus {
        opacity: .8;
        text-decoration: none;
    }

    &.white {
        color: var(--black);
        background: var(--white);
    }
}

img {
    width: 100%;
    display: block;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);

    .content {
        height: 88px;
        width: 1200px;
        max-width: calc(100% - 96px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .logo {
            display: block;
            height: 22px;
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 24px;

            .lang {
                display: flex;
                align-items: center;
                gap: 12px;

                a {
                    font-weight: 400;
                    color: var(--black);
                    opacity: .8;
                    transition: opacity .1s ease;

                    &:hover,
                    &:focus {
                        opacity: .6;
                    }

                    &.active {
                        font-weight: 500;
                        opacity: 1;

                        &:hover,
                        &:focus {
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 0 192px;
    
    .content {
        width: 1200px;
        max-width: calc(100% - 96px);
        display: flex;
        flex-direction: column;
        gap: 48px;

        &.text {
            gap: 12px;
        }

        .box {
            max-width: 800px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;

            .button {
                margin-top: 24px;
            }

            ul {
                margin: 0 0 0 48px;
            
                li {
                    margin: 0 0 12px 0;
                    font-size: 20px;
                    position: relative;

                    &::before {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        background-image: url("/static/icons/check.svg");
                        position: absolute;
                        left: -24px;
                    }
                }
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 96px;

            li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                img,
                .button {
                    margin-top: 24px;
                }
            }
        }
    }
}

.start {
    background: var(--blue);
    padding: 96px 0 64px;

    .content {
        h1 {
            max-width: 900px;
        }

        p {
            max-width: 800px;
        }

        .arrow {
            height: 48px;
            width: 36px;
            align-self: flex-end;
            cursor: pointer;
            transition: transform .2s ease .2s;

            &:hover {
                transform: translateY(12px);
                transition: transform .2s ease;
            }
        }
    }
}

.projects {
    background: var(--black);

    .content {
        h2 {
            color: var(--light-grey);
            opacity: .5;
        }

        h3,
        p {
            color: var(--white);
        }
    }
}

.technologies {
    background: var(--light-grey);

    .content {
        .grid {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            li {
                align-items: center;

                svg {
                    width: 112px;
                }
            }
        }

        p {
            max-width: 800px;
        }
    }
}

.text {
    background: var(--light-grey);

    .content {
        p {
            max-width: 800px;
        }
    }
}

.process {
    .content {
        p {
            max-width: 800px;
        }
    }
}

.cta {
    padding: 128px 0;
    background: var(--blue);

    .content {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 0;
        background: var(--white);
        overflow: hidden;

        .box {
            padding: 64px;
        }

        .img {
            max-height: 512px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                flex-shrink: 0;
                max-height: 100%;
                min-height: 100%;
                width: auto;
                min-width: 100%;
            }
        }
    }
}

.legal {
    padding: 32px 0;

    .content {
        gap: 12px;

        h2 {
            margin-top: 16px;
        }

        h3 {
            margin-top: 16px;
        }

        p {
            font-size: 16px;
        }

        a {
            color: var(--dark-grey)
        }
    }
}

.not-found {
    min-height: calc(100vh - 192px);

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 256px;
            line-height: 1.2;
        }

        h2 {
            font-size: 24px;
            text-align: center;
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--blue);

    .content {
        height: 96px;
        width: 1200px;
        max-width: calc(100% - 96px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        small,
        a{
            white-space: nowrap;
        }

        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: var(--black);
            transition: opacity .1s ease;

            &:hover,
            &:focus {
                opacity: .8;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 56px;
    }

    h3 {
        font-size: 28px;
    }

    section {
        .content {
            gap: 48px;

            .grid {
                gap: 64px;
            }
        }
        
    }

    .technologies {
        .content {
            .grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }

    .cta {
        .content {
            .box {
                padding: 48px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 14px;
        letter-spacing: 3px;
    }

    h3 {
        font-size: 24px;

        .large {
            font-size: 2rem
        }
    }

    p {
        font-size: 18px;
    }

    small {
        font-size: 14px;
    }

    .button {
        padding: 12px 16px;
    }

    header {
        height: 64px;

        .content {
            max-width: calc(100% - 32px);
        }
    }

    section {
        padding: 96px 0;

        .content {
            max-width: calc(100% - 32px);
            gap: 32px;

            .box {
                gap: 6px;

                ul {                
                    li {
                        font-size: 18px;
                    }
                }
            }

            .grid {
                grid-template-columns: 1fr;
                gap: 48px;

                li {
                    gap: 6px;
                }
            }
        }
    }

    .start {
        padding: 48px 0 64px;

        .content {
            .arrow {
                display: none;
            }
        }
    }

    .technologies {
        .content {
            .grid {
                li {
                    svg {
                        width: 80px;
                    }
                }
            }
        }
    }

    .cta {
        padding: 64px 0;

        .content {
            display: flex;

            .img img {
                max-width: 100%;
            }
        }
    }

    .not-found {
        min-height: calc(100vh - 128px);

        .content {
            h1 {
                font-size: 128px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }
    
    footer {
        height: 64px;
        
        .content {
            max-width: 100%;
            padding: 0 16px;
            overflow-x: auto;
        }
    }
}

@media only screen and (max-width: 512px) {
    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    section {
        padding: 64px 0;

        .content {
            gap: 24px;

            .grid {
                gap: 32px;
            }

            .button {
                width: 100%;
                padding: 16px 24px;
            }

            .box {
                gap: 6px;

                ul {                
                    li {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .technologies {
        .content {
            .grid {
                grid-template-columns: 1fr 1fr 1fr;

                li {
                    svg {
                        width: 64px;
                    }
                }
            }
        }
    }

    .cta {
        .content {
            .box {
                padding: 24px;
            }
        }
    }
}

@media only screen and (min-width: 513px) {
    body {
        *::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }
    
        *::-webkit-scrollbar-thumb {
            height: 64px;
            width: 64px;
            border: 5px solid rgba(0,0,0,0);
            background-clip: padding-box;
            -webkit-border-radius: 8px;
            background-color: rgba(127,127, 127,.4);
        }
        
        *::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }
        *::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}

@import "blog";
