@import "reset";
@import "fonts";

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --black: #000;
    --dark-grey: #707070;
    --light-grey: #eaeaea;
    --white: #fff;
    --blue: #b3cde6;
    overflow-x: hidden;
    font-family: "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    margin-right: calc(-100vw + 100%); /* Fix for scroll-bar jump */
}

h1,
h2,
h3,
h4,
h5,
p {
	margin-block-start: 0;
    margin-block-end: 0;
}

p:empty {
    display: none;
}

h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 1.4;
    font-family: "Inter Display", "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h3,
.h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.4;
    font-family: "Inter Display", "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    .large {
        font-size: 3rem
    }
}

h4,
.h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;
    font-family: "Inter Display", "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;

    a {
        color: var(--blue);
        cursor: pointer;
        transition: opacity .2s ease;

        &:hover,
        &:focus {
            opacity: .8;
        }
    }

    &.small {
        font-size: small;
    }
}

a {
    color: var(--black);
    transition: opacity .2s ease;

    &:hover,
    &:focus {
        opacity: .8;
    }
}

small {
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

strong {
    font-weight: 500;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    fieldset {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    label {
        color: var(--dark-grey);
        font-size: 14px;
    }

    input, select, textarea {
        width: 100%;
        border: 1px solid var(--black);
        padding: 8px;
        font-size: 20px;
        background: var(--white);

        &:focus {
            border-color: var(--blue);
        }

        @media only screen and (max-width: 768px) {
            font-size: 18px;
        }
        
        @media only screen and (max-width: 512px) {
            font-size: 16px;
        }
    }

    textarea {
        min-height: 100px;
    }

    input[type~="submit"] {
        width: auto;
    }
}

.details {
    width: 100%;
    padding: 16px;
    background: var(--light-grey);

    summary {
        position: relative;
        margin: -16px;
        padding: 16px;
        font-size: 20px;
        list-style: none;
        cursor: pointer;
        transition: 0.2s;
        user-select: none;

        &::after {
            display: block;
            position: absolute;
            top: 16px;
            right: 16px;
            width: 20px;
            height: 20px;
            background: url("/static/icons/arrow.svg");
            content: "";
            transition: 0.2s;
        }

        &:hover {
            background: var(--blue);
        }
    }

    &[open] > summary {
        background: var(--blue);
    }

    &[open] > summary::after {
        transform: rotate(180deg);
    }

    p:first-of-type {
        margin-top: 32px;
    }
}

.button, input[type~="submit"] {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--black);
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity .2s ease;

    &:hover,
    &:focus {
        text-decoration: none;
        opacity: .8;
    }

    &.white {
        background: var(--white);
        color: var(--black);
    }
}

img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--blue);

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        max-width: calc(100% - 96px);
        height: 88px;
    
        .logo {
            display: block;
            height: 22px;
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 24px;

            .lang {
                display: flex;
                align-items: center;
                gap: 12px;

                a {
                    color: var(--black);
                    font-weight: 400;
                    opacity: .8;
                    transition: opacity .2s ease;

                    &:hover,
                    &:focus {
                        opacity: .6;
                    }

                    &.active {
                        font-weight: 500;
                        opacity: 1;

                        &:hover,
                        &:focus {
                            opacity: .8;
                        }
                    }
                }
            }
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 128px 0 192px;
    
    .content {
        display: flex;
        flex-direction: column;
        width: 1200px;
        max-width: calc(100% - 96px);
        gap: 48px;

        &.text {
            gap: 12px;
        }

        .box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 800px;
            gap: 12px;

            .button {
                margin-top: 24px;
            }

            ul {
                margin: 0 0 0 48px;
            
                li {
                    position: relative;
                    margin: 0 0 12px 0;
                    font-size: 20px;

                    &::before {
                        display: block;
                        position: absolute;
                        left: -24px;
                        width: 20px;
                        height: 20px;
                        background-image: url("/static/icons/check.svg");
                        content: "";
                    }
                }
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 96px;

            li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;

                img,
                .button {
                    margin-top: 24px;
                }
            }
        }
    }
}

.start {
    position: relative;
    padding: 96px 0 64px;
    overflow: hidden;
    background: var(--blue);

    .content {
        z-index: 1;

        h1 {
            max-width: 900px;
        }

        p {
            max-width: 800px;
        }

        .arrow {
            align-self: flex-end;
            width: 36px;
            height: 48px;
            cursor: pointer;
            transition: transform .2s ease .2s;

            &:hover {
                transform: translateY(12px);
                transition: transform .2s ease;
            }
        }
    }

    &-bg {
        position: absolute;
        width: 100%;
        max-width: 1920px;
        height: 100%;
        max-height: 1080px;
        background-position: bottom center;
        background-size: cover;
        background-blend-mode: darken;
        opacity: 0.1;
    }
}

.website-bg {
    background-image: url("/static/img/website-bg.png");

    @media only screen and (max-width: 1920px) {
        background-image: url("/static/img/website-bg-1920.png");
    }

    @media only screen and (max-width: 1200px) {
        background-image: url("/static/img/website-bg-1200.png");
    }

    @media only screen and (max-width: 800px) {
        background-image: url("/static/img/website-bg-800.png");
    }

    @media only screen and (max-width: 600px) {
        background-image: url("/static/img/website-bg-600.png");
    }
}

.projects {
    background: var(--black);

    .content {
        h2 {
            color: var(--light-grey);
            opacity: .5;
        }

        h3,
        p {
            color: var(--white);
        }
    }

    .button {
        background: var(--white);
        color: var(--black);
    }

    img {
        max-width: 100%;
        height: auto;
    }

    &-slides {
        max-width: 1400px;
        margin: 0 auto 30px auto;
        
        .glide__track, .glide__slides, .glide__slide {
            height: 100%;
        }

        .glide__track {
            margin-bottom: 30px;
            overflow: hidden;
        }

        .glide__arrows {
            width: 40px;
            height: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1px;
            margin: 0 auto;

            button {
                background: #fff;
                padding: 0 12px;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
            }

            .glide__arrow--right {
                transform: scale(-1, 1);
            }
        }
    }

    .project {
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: flex-start;

        img {
            margin-top: 20px;
        }
    }
}

.technologies {
    &-bg {
        background: var(--light-grey);
    }

    .content {
        .grid {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            li {
                align-items: center;

                svg {
                    width: 112px;
                }
            }
        }

        p {
            max-width: 800px;
        }
    }
}

.text {
    background: var(--light-grey);

    .content {
        p {
            max-width: 800px;
        }
    }

    details {
        background: var(--white);
    }

    &-white {
        background: var(--white);

        details {
            background: var(--light-grey);
        }
    }
}

.services {
    &-bg {
        background: var(--light-grey);
    }
}

.contact {
    h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.4;
        letter-spacing: 0;
        font-family: "Inter Display", "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: var(--black);
        text-transform: none;

        @media only screen and (max-width: 1024px) {
            font-size: 28px;
        }

        @media only screen and (max-width: 768px) {
            font-size: 24px;
        }

        @media only screen and (max-width: 512px) {
            font-size: 22px;
        }
    }

    .content {
        p {
            max-width: 800px;
        }
    }
}

.team {
    display: flex;
    margin-top: 24px;
    gap: 12px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 12px;

        img {
            max-width: 160px;
        }
    }
}

.cta {
    padding: 128px 0;
    background: var(--blue);

    .content {
        display: grid;
        grid-template-columns: 40% 60%;
        overflow: hidden;
        gap: 0;
        background: var(--white);

        .box {
            padding: 64px;
        }

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: 512px;
            overflow: hidden;

            img {
                flex-shrink: 0;
                width: auto;
                min-width: 100%;
                min-height: 100%;
                max-height: 100%;
            }
        }
    }
}

.legal {
    padding: 32px 0;

    .content {
        gap: 12px;

        h2 {
            margin-top: 16px;
        }

        h3 {
            margin-top: 16px;
        }

        p {
            font-size: 16px;
        }

        a {
            color: var(--dark-grey)
        }
    }
}

.not-found {
    min-height: calc(100vh - 192px);

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 256px;
            line-height: 1.2;
        }

        h2 {
            font-size: 24px;
            text-align: center;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--blue);

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        max-width: calc(100% - 96px);
        height: 96px;
        gap: 24px;

        small,
        a{
            white-space: nowrap;
        }

        a {
            color: var(--black);
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            transition: opacity .2s ease;

            &:hover,
            &:focus {
                opacity: .8;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 56px;
    }

    h3 {
        font-size: 28px;
    }

    section {
        .content {
            gap: 48px;

            .grid {
                gap: 64px;
            }
        }
        
    }

    .technologies {
        .content {
            .grid {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }

    .cta {
        .content {
            .box {
                padding: 48px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 14px;
        letter-spacing: 3px;
    }

    h3 {
        font-size: 24px;

        .large {
            font-size: 2rem
        }
    }

    p {
        font-size: 18px;
    }

    small {
        font-size: 14px;
    }

    details {
        summary {
            font-size: 18px;
        }
    }

    .button {
        padding: 12px 16px;
    }

    header {
        height: 64px;

        .content {
            max-width: calc(100% - 32px);
        }
    }

    section {
        padding: 96px 0;

        .content {
            max-width: calc(100% - 32px);
            gap: 32px;

            .box {
                gap: 6px;

                ul {                
                    li {
                        font-size: 18px;

                        &::before {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            .grid {
                grid-template-columns: 1fr;
                gap: 48px;

                li {
                    gap: 6px;
                }
            }
        }
    }

    .start {
        padding: 48px 0 64px;

        .content {
            .arrow {
                display: none;
            }
        }
    }

    .technologies {
        .content {
            .grid {
                li {
                    svg {
                        width: 80px;
                    }
                }
            }
        }
    }

    .cta {
        padding: 64px 0;

        .content {
            display: flex;

            .img img {
                max-width: 100%;
            }
        }
    }

    .not-found {
        min-height: calc(100vh - 128px);

        .content {
            h1 {
                font-size: 128px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }
    
    footer {
        height: 64px;
        
        .content {
            max-width: 100%;
            padding: 0 16px;
            overflow-x: auto;
        }
    }
}

@media only screen and (max-width: 512px) {
    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    section {
        padding: 64px 0;

        .content {
            gap: 24px;

            .grid {
                gap: 32px;
            }

            .button {
                width: 100%;
                padding: 16px 24px;
            }

            .box {
                gap: 6px;

                ul {                
                    li {
                        font-size: 16px;

                        &::before {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }

    details {
        summary {
            font-size: 16px;
        }
    }

    .technologies {
        .content {
            .grid {
                grid-template-columns: 1fr 1fr 1fr;

                li {
                    svg {
                        width: 64px;
                    }
                }
            }
        }
    }

    .cta {
        .content {
            .box {
                padding: 24px;
            }
        }
    }
}

@media only screen and (min-width: 513px) {
    body {
        *::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }
    
        *::-webkit-scrollbar-thumb {
            -webkit-border-radius: 8px;
            width: 64px;
            height: 64px;
            border: 5px solid rgba(0,0,0,0);
            background-clip: padding-box;
            background-color: rgba(127,127, 127,.4);
        }
        
        *::-webkit-scrollbar-button {
            display: none;
            width: 0;
            height: 0;
        }
        *::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}

@import "blog";
